

.dot:hover{
	stroke-width: 2px;
	stroke : rgb(0, 0, 0)
}



p{
	
	text-align: center;
}



h1 {
	font-size: 48px;
	padding: 0;
	margin: 0 0 10px;
}

h2 {
	font-size: 18px;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	font-size: 15px;
	font-weight: bold;
	padding: 0;
	margin-top: 30px;
}

.line--hover{
	stroke-width: 6px;
	opacity: 1.0;
}

.line--fade{
	opacity: 0.3;
}

.cir--hover{
	stroke-width: 2px;
	opacity: 0.9;
}

.cir--fade{
	opacity: 0.2;
}

